*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 500px;
    margin-left: 16.3%;
}

.carousel-body{
    margin-top: -4px;
    margin-left: 2%;
    margin-right: 2%;
    
}
.carousel{
    max-height: 200px;
    padding-left: 10px;
    
}



@media (max-width: 1180px){
    .carousel{
padding-left: 5.5px;
min-width: 100vw;
    }
    
    body{
        width: 405px;
        margin-left: 16.3%;
    }
}

