*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 500px;
    margin-left: 16.3%;
}


.carousel{
    max-height: 200%;
    padding-left: 10px;    
}



@media (max-width: 1065px){
    .carousel{
        padding-left: 5.5px;
        width: 100%;
        margin-bottom: 110px;
        margin-top: 20px;
        
    }
    
    body{
        width: 405px;
        margin-left: 16.3%;
    }
}

