body{
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 66.6vw;
    margin-left: 15.8%;
    height: fit-content;
    padding-bottom: 50px;
}

@media (max-width:800px){
    body{
        max-width: 100%;
        border: none;
        margin-right: -35px;
        
        
       
    }

}
