body{
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 66vw;
    margin-left: 16.5vw;
    margin-right: 16.5vw;
    height: fit-content;
    padding-bottom: 20px;
    margin-top: -15px;
    
}

@media (max-width:1180px){
    body{
        min-width: 100%;
        border: none;
        margin-left: 0;
        margin-right: 0;                
    }

}
