body{
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 66.6vw;
    margin-left: 15.8%;
    height: 1000vh;
}

@media (max-width:800px){
    body{
        width:100%;
        margin-left: 10px;
        border: none;
        overflow-x: hidden;
    }

}
