*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonal-container{
    display: flex;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 25rem;
}

.testimonal-title{
    margin-bottom: -40px;
    font-family: 'Courier Prime', monospace;
    margin-left: 13px;
    position: relative;
    top: -10px;
}

.testimonal-text{
    font-family: 'Courier-new', monospace;
    color: rgb(88, 88, 88);
    margin-top: 25px;
    font-size: 0.9rem;
    padding-right: 30px;
    width: 44vw;
    margin-left: 2%;
}

.testimonal-safely-sourced-container{
    background-color: black;
    color: white;
    height: fit-content;
    
    width: 360px;
    margin-right: 3%;
    position: relative;
    left: 20px;
}

.testimonal-img{
    width:100%;
}

.safely-sourced-title{
    font-family: 'Courier Prime', monospace;
    padding: 5px 8px 2px 8px;
    font-size: 1.02rem;
}

.safely-sourced-info{
    padding: 0 10px 5px 8px;
    line-height: 1.3;
    font-family: 'Courier-new', monospace;
    font-size: 0.9rem;
    
    
}

@media (max-width:800px){
    .testimonal-container{
        display: block;
        margin-top: 25px;
        width: 100%;
        margin-top: 8.5rem;
       
    }
}



@media (max-width:500px){
    .testimonal-container{
        display: block;
        margin-top: 25px;
        width:100%;
        padding-left: 24px;
        position: relative;
    }
    .testimonal-title{
        margin-bottom: 5px;
    }
    .testimonal-text{
        width: 98%;
    }
    .testimonal-img{
        width: 100%;
    }
}
